/.project
/build
/omr
/openj9
/openssl

# ignore files produced when "--with-freetype-src=..." is used
/freetype.bat
/freetype.log

/build/
/dist/
/.idea/
nbproject/private/
/webrev
/.src-rev
/.jib/
.DS_Store
.metadata/
.recommenders/
test/nashorn/script/external
test/nashorn/lib
NashornProfile.txt
**/JTreport/**
**/JTwork/**
